<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gavel CI</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>

   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Gavel CI <i class="fas fa-gavel"></i></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('jobserv.status')}}"><span class="glyphicon glyphicon-dashboard"></span> Status</a></li>
          {%- if current_user.is_admin -%}
          <li><a href="#" data-toggle="modal" data-target="#createProject"><span class="glyphicon glyphicon-plus"></span> Create project</a></li>
          {%- endif -%}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {%- if current_user.is_authenticated -%}
          <li><a href="{{url_for('settings.index')}}"><span class="glyphicon glyphicon-user"></span> {{current_user.login}}</a></li>
          <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {%- else -%}
          <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {%- endif -%}
        </ul>
      </div>
    </nav>

    <div class="container">

    {%- if current_user.is_admin -%}
    <div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="post" action="/project/">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create New Project</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="createProjectName">Name</label>
                <input type="text" class="form-control" name="name">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {%- endif -%}


    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
    </div> <!-- container -->

    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
  </body>
</html>
