{% extends "layout.html" %}
{% block body %}
<h1>Gavel CI Build: {{project}} #{{build}} - {{run.name}}</h1>

<div style="padding-left: 20px;">
<dl class="row">
  <dt class="col-sm-3">Status</dt>
  {% if run.status == 'PASSED' %}
  <dd class="text-success">{{run.status}}</dd>
  {% elif run.status == 'FAILED' %}
  <dd class="text-danger">{{run.status}}</dd>
  {% else %}
  <dd>{{run.status}}</dd>
  {% endif %}

  <dt class="col-sm-3">Created</dt>
  <dd>{{run.created}}</dd>

  <dt class="col-sm-3">Completed</dt>
  <dd>{{run.completed}}</dd>

  <dt class="col-sm-3">Host Tag</dt>
  <dd>{{run.host_tag}}</dd>

</dl>
</div>

<h3>Artifacts</h3>
<ul>
{% for a in run.artifacts %}
  <li>{{a}}</li>
{% endfor %}
</ul>
{% endblock %}
