{% extends "layout.html" %}
{% block body %}
<h1>Gavel CI Build:
  <a href="{{url_for('jobserv.project', proj=project)}}">{{project}}</a>
  <a href="{{url_for('jobserv.build', proj=project, build=build)}}">#{{build}}</a>
  - {{run.name}}
</h1>

<div style="padding-left: 20px;">
<dl class="row">
  <dt class="col-sm-3">Status</dt>
  {% if run.status == 'PASSED' %}
  <dd class="text-success">{{run.status}}</dd>
  {% elif run.status == 'FAILED' %}
  <dd class="text-danger">{{run.status}}</dd>
  {% else %}
  <dd>{{run.status}}</dd>
  {% endif %}

  <dt class="col-sm-3">Created</dt>
  <dd>{%if run.created%}{{run.created}}{%else%}&nbsp;{%endif%}</dd>

  <dt class="col-sm-3">Completed</dt>
  <dd>{%if run.completed%}{{run.completed}}{%else%}&nbsp;{%endif%}</dd>

  <dt class="col-sm-3">Host Tag</dt>
  <dd>{{run.host_tag}}</dd>

  <dt class="col-sm-3">JobServ Host</dt>
  <dd>{{run.worker_name}}</dd>

  <dt class="col-sm-3">Logs</dt>
  <dd><a href="{{url_for('jobserv.run_artifact', proj=project, build=build, run=run.name, p='console.log')}}">console.log</a></dd>

  {% if run.tests %}
  <dt class="col-sm-3">Tests</dt>
  <dd><a href="{{url_for('jobserv.tests', proj=project, build=build, run=run.name)}}">Report</a></dd>
  {% endif %}

  <dt class="col-sm-3">History</dt>
  <dd><a href="{{url_for('jobserv.project_run_history', proj=project, run=run.name)}}">Run History</a></dd>
</dl>
</div>

  <div class="btn-toolbar">
     <a href="{{url_for('jobserv.run_simulate', proj=project, build=build, run=run.name)}}" class="btn btn-primary">Execute in simulator</a>
{%- if current_user.is_admin -%}
     <form method="post" action="{{url_for('jobserv.run_rerun', proj=project, build=build, run=run.name)}}">
       <input style="margin-left: 5px" type="submit" class="btn btn-primary" value="Re-run">
     </form>
{%- endif -%}
  </div>

<h3>Artifacts</h3>
<ul>
{% for a in run.artifacts %}
  <li><a href="{{url_for('jobserv.run_artifact', proj=project, build=build, run=run.name, p=a)}}">{{a}}</a></li>
{% endfor %}
</ul>
{% endblock %}
