{% extends "layout.html" %}
{% block body %}

<form>
<fieldset disabled>
  <div class="form-group">
    <label for="login">Login</label>
    <input name="login" type="text" class="form-control" value="{{user.login}}"/>
  </div>
  <div class="form-group">
    <label for="created">Created on</label>
    <input name="created" type="text" class="form-control" value="{{user.created_at}}"/>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" value="{{user.name}}"/>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" value="{{user.email}}"/>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" {%if user.is_admin %}checked{%endif%}>Is Admin
    </label>
  </div>
</fieldset>
</form>

<h3>API Tokens</h3>
<div class="col-xs-12 col-sm-6">
  <form method="post" action="{{url_for('settings.token_create')}}">
    <div class="form-group">
      <label for="description">Create new token with description</label>
      <input name="description" type="text" class="form-control"/>
      <button type="submit" class="btn btn-primary btn-sm">Create Token</button>
    </div>
  </form>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr><th>Description</th><th>Last Used</th><th>Actions</th></tr>
  </thead>
  <tbody>
  {% for token in user.api_tokens %}
    <tr>
      <td>{{token.description}}</td>
      <td>
        <i>{% if token.last_used %}{{token.last_used}}{% else %}Never{% endif %}</i>
      </td>
      <td><a href="{{url_for('settings.token_delete', token=token.id)}}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
