Flask-Dance[sqla]==7.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask==2.3.3
Jinja2==3.1.6
SQLAlchemy==2.0.36
PyMySQL==1.1.1
bcrypt==4.2.1
gunicorn==23.0.0
pyjwt==2.10.1
requests==2.32.3
blinker==1.9.0
setuptools==75.6.0
werkzeug==3.1.3
